<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="testng" verbose="1">
    <test name="PositiveTest">
        <classes>
            <class name="tests.SignInTest.SignUpTest"
            <class name="tests.SignInTest.SignUpTest"></class>
        </classes>
    </test>

</suite>


